@font-face {
  font-family: Netflix;
  src: url(assets/NetflixSans-Bold.otf);
  font-weight: 800;
}
@font-face {
  font-family: Netflix;
  src: url(assets/NetflixSans-Light.otf);
  font-weight: 200;
}
@font-face {
  font-family: Netflix;
  src: url(assets/NetflixSans-Medium.otf);
  font-weight: 500;
}
@font-face {
  font-family: Netflix;
  src: url(assets/NetflixSans-Regular.otf);
  font-weight: 400;
}
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  width: 100%;
}
body {
  font-family: Netflix;
  background-color: black;
  color: white;
}

.main {
  background-image: url(assets/bg2.jpg);
  background-size: max(1200px, 100vw);
  background-position: center center;
  background-repeat: no-repeat;
  height: 75vh;
  position: relative;
}

.main .box {
  position: absolute;
  width: 100%;
  background-color: black;
  top: 0;
  opacity: 0.72;
  height: 75vh;
}
nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: auto;
  width: 80vw;
  height: 62px;
}

nav img {
  color: rgb(255, 0, 0);
  width: 148px;
  position: relative;
  z-index: 10;
}
nav button {
  position: relative;
  z-index: 10;
}

.hero {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  color: white;
  position: relative;
  gap: 1.5rem;
  padding: 0 2rem;
}

.hero > :nth-child(1) {
  font-weight: 800;
  font-size: 3.5rem;
  text-align: center;
}

.hero > :nth-child(2) {
  font-size: 1.25rem;
  font-weight: 500;
  text-align: center;
}

.hero > :nth-child(3) {
  font-size: 1rem;
  font-weight: 400;
  text-align: center;
}
.netflix-form {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 0.625rem;
  max-width: 37.5rem;
  margin: 2rem auto;
}
.form-group {
  position: relative;
  flex: 1;
}

.form-group input {
  width: 23rem;
  padding: 1rem 0.625rem 0.5rem;
  font-size: 1rem;
  border: 1px solid #ccc;
  border-radius: 4px;
  background-color: transparent;
  color: white;
  height: 3.5rem;
  outline: none;
}

.form-group label {
  position: absolute;
  top: 1rem;
  left: 10px;
  color: #aaa;
  pointer-events: none;
  transition: 0.2s ease all;
  background-color: transparent;
  padding: 0 4px;
}
.form-group input:focus + label,
.form-group input:not(:placeholder-shown) + label {
  top: 0.4rem;
  left: 8px;
  font-size: 0.75rem;
  color: #ffffffc2;
}
input:-webkit-autofill,
input:-webkit-autofill:focus {
  transition: background-color 600000s 0s, color 600000s 0s;
}
.get-started {
  background-color: #e50914;
  border: none;
  color: white;
  padding: 1rem 1.5rem;
  font-size: 1.5rem;
  border-radius: 4px;
  cursor: pointer;
  white-space: nowrap;
  font-weight: 500;
}
.get-started:hover {
  background-color: #c11119;
}
.get-started:active {
  scale: 0.95;
}
#right-arrow {
  object-fit: contain;
}
@media (max-width: 37.5rem) {
  .netflix-form {
    flex-direction: column;
    align-items: stretch;
  }

  .get-started {
    width: 100%;
    text-align: center;
    margin-top: 0.625rem;
  }
}

#sign-in {
  background-color: #c11119;
  border-radius: 5px;
  cursor: pointer;
  height: 2rem;
  width: 4.7rem;
  color: white;
  font-weight: 600;
  border: none;
}
#sign-in:hover {
  background-color: #98070e;
}
#sign-in:active {
  scale: 0.95;
}

.nav-buttons {
  display: flex;
  gap: 1rem;
  align-items: center;
  position: relative;
}
.dropdown {
  position: relative;
}
.dropdown-toggle {
  background: transparent;
  border: 1px solid #ccc;
  color: white;
  padding: 0.5rem 1rem;
  cursor: pointer;
  border-radius: 0.25rem;
  font-weight: 500;
}
.dropdown-menu {
  position: absolute;
  top: 100%;
  left: 0;
  background: #000;
  color: white;
  padding: 0.5rem 0;
  border-radius: 0.25rem;
  display: none;
  z-index: 10;
  min-width: 100%;
  align-items: center;
  justify-content: center;
}
.dropdown-menu button {
  background: none;
  border: none;
  color: white;
  padding: 0.5rem 1rem;
  width: 100%;
  text-align: left;
  cursor: pointer;
}
.dropdown-menu button:hover {
  background: #222;
}

.dropdown.open .dropdown-menu {
  display: block;
}
#lang-icon {
  height: 0.6rem;
  width: 1.9rem;
  object-position: center;
  object-fit: cover;
  left: 0;
}

.separation {
  height: 0.5rem;
  background-color: gray;
  opacity: 0.3;
  margin-top: 3.5rem;
  width: 100%;
}
.second-banner .width {
  display: flex;
  position: absolute;
  background: linear-gradient(
    to right,
    #000000dd 0%,
    #0d1a4b 25%,
    #87102d 50%,
    #0d1a4b 75%,
    #0909099a 100%
  );
  width: 80%;
  height: 7rem;
  left: 10%;
  gap: 2rem;
  padding: 0 1rem;
  align-items: center;
  justify-content: center;
  color: white;
  box-shadow: 0 0 2rem #1b012388;
}
.second-text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: left;
  font-size: 1rem;
  line-height: 1.5;
}
.popcorn img {
  object-fit: cover;
  height: 6rem;
}
.third-banner {
  display: flex;
  background-color: rgb(0, 0, 0);
  width: 100%;
}
.third-banner .third-text {
  width: 50%;
  position: relative;
  margin-top: 10rem;
  padding: 6rem;
  align-items: center;
  justify-content: center;
  top: 3rem;
}
.third-banner .third-text h1 {
  font-weight: bolder;
  font-size: 3rem;
  text-align: center;
  padding-bottom: 0.7rem;
}
.third-banner .third-text p {
  font-weight: 500;
  text-align: center;
  padding-left: 5rem;
}
.image-video1 {
  position: relative;
  width: 50%;
  margin-top: 10rem;
  height: 30rem;
  overflow: hidden;
  height: auto;
}

.image-video1 img {
  width: 100%;
  height: auto;
  object-fit: cover;
  display: block;
  z-index: 10;
  position: relative;
}
.image-video1 video {
  position: absolute;
  top: 12%;
  left: 14.5%;
  width: 70%;
  height: 70%;
  object-fit: contain;
  border-radius: 1rem;
  z-index: 2;
}

.fourth-banner {
  display: flex;
  background-color: rgb(0, 0, 0);
  width: 100%;
  margin-top: 4rem;
}
.fourth-banner .image-video2 {
  position: relative;
  width: 50%;
  height: 30rem;
  overflow: hidden;
  height: auto;
}
.fourth-banner .image-video2 img {
  width: 100%;
  height: auto;
  object-fit: cover;
  display: block;
  z-index: 10;
  position: relative;
}
.fourth-banner .image-video2 video {
  position: absolute;
  top: 0;
  left: 20%;
  right: 14.5%;
  width: 60%;
  height: 75%;
  object-fit: contain;
  border-radius: 1rem;
  z-index: 2;
}
.fourth-banner .fourth-text {
  width: 50%;
  position: relative;
  margin-top: 10rem;
  padding: 6rem;
  align-items: center;
  justify-content: space-around;
}
.fourth-banner .fourth-text h1 {
  font-weight: bolder;
  font-size: 3rem;
  text-align: left;
  left: 0;
  padding-bottom: 0.7rem;
  align-items: center;
  justify-content: center;
}
.fourth-banner .fourth-text p {
  font-weight: 500;
  text-align: left;
  left: 0;
  align-items: center;
  justify-content: center;
}

.fifth-banner {
  display: flex;
  background-color: rgb(0, 0, 0);
  width: 100%;
  margin-top: 2rem;
}
.fifth-banner .fifth-text {
  width: 50%;
  position: relative;
  margin-top: 10rem;
  padding: 6rem;
  align-items: center;
  justify-content: center;
  top: 3rem;
}
.fifth-banner .fifth-text h1 {
  font-weight: bolder;
  font-size: 3rem;
  text-align: center;
  padding-bottom: 0.7rem;
  justify-content: center;
}
.fifth-banner .fifth-text p {
  font-weight: 500;
  text-align: center;
}

.sixth-banner {
  display: flex;
  background-color: rgb(0, 0, 0);
  width: 100%;
  margin-top: 4rem;
}
.sixth-banner .image-video4 {
  position: relative;
  width: 50%;
  height: 30rem;
  overflow: hidden;
  height: auto;
}
.sixth-banner .image-video4 img {
  width: 100%;
  object-fit: cover;
  display: block;
  position: relative;
}
.sixth-banner .sixth-text {
  width: 50%;
  position: relative;
  margin-top: 10rem;
  padding: 6rem;
  align-items: center;
  justify-content: space-around;
}
.sixth-banner .sixth-text h1 {
  font-weight: bolder;
  font-size: 3rem;
  text-align: left;
  left: 0;
  padding-bottom: 0.7rem;
  align-items: center;
  justify-content: center;
}
.sixth-banner .sixth-text p {
  font-weight: 500;
  text-align: left;
  left: 0;
  align-items: center;
  justify-content: center;
}
